/*
* =================================================
*
* Gauntless.css
*
* =================================================
*/
* {
  font-family: "Comic Sans MS";
  }
body {
  background: url(../images/conan.png) center center #000;
  background-size: 100%;
  text-align: center;
  overflow: none;
  }
h1 {
  text-align: center;
  color: magenta;
  text-shadow: 1px 1px 1px #000;
  text-decoration: blink;
  }
canvas {
  box-shadow: 1px 1px 1px #000;
  }
/* zoom tools */
#zoom {
  text-align: center;
  list-style: none;
  padding: 0;
  background: #333;
  border-radius: 3px;
  width: 230px;
  margin: 10px auto;
  padding: 10px;
  color: #fff;
  box-shadow: 1px 1px 1px #000;
  border: solid 1px #fff;
  }
  #zoom li {
    display: inline-block;
    }
    #zoom li a {
      color: #fff;
      }

/* footer */
footer {
  }
  footer p {
    background: #333;
    width: 230px;
    margin: 10px auto;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
    border: solid 1px #fff;
    box-shadow: 1px 1px 1px #000;
    }