/*
* =================================================
*
* Gauntless.css
*
* =================================================
*/
* {
  font-family: "Comic Sans MS";
  }

body {
  background: #666;
  text-align: center;
  }
h1 {
  text-align: center;
  }
canvas {
  box-shadow: 1px 1px 1px #000;
  }
/* zoom tools */
#zoom {
  text-align: center;
  list-style: none;
  padding: 0;
  }
  #zoom li {
    display: inline-block;
    }

/* footer */
footer {
  }
  footer p {
    text-align: center;
    }